.productPrice {
  font-size: 2.4rem;
  margin-top: 0.5rem;
}

.addToCart {
  border-radius: 7px;
  padding: 1rem 8rem;
  transition: background 180ms ease 0s;
  background-color: #fc008f;
  font-size: 1.3rem;
  font-weight: 500;
  height: auto;
  position: relative;
  display: inline-block;
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.variantType {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0rem;
  font-size: 1rem;
  line-height: 40px;
  text-indent: 5px;
}
.variantOption {
  line-height: 40px;
}
.productQuantityLabel {
  font-size: 1rem;
  font-weight: 500;
}
.productQuantity {
  width: 10%;
  font-size: 1.3rem;
  margin-left: 0.8rem;
  text-align: center;
  border: 1px solid #000;
}
.typeName {
  margin-top: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
}
