.sliderImageWrapper {
  width: 100%;
  height: 650px;
}
.sliderImage {
  position: absolute;
  height: 650px;
  width: 100%;
}
.sliderContentBox {
  position: relative;
  z-index: 10;
  width: 30%;
  background-color: #fff;
  padding: 2rem;
  top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.sliderContentBox_Title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.sliderContentBox_Description {
  font-size: 1.05rem;
}
.sliderContentBox_Button {
  background-color: #ee2625;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.95rem;
}

@media(max-width:768px){
  .sliderContentBox {
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding:1rem;
   width:60%;
  }
  .sliderContentBox_Title {
    font-size:1.5rem;
  }
  .sliderContentBox_Description {
    font-size:0.8rem;
  }
  .sliderImageWrapper {
    width: 100%;
    height: 400px;
  }
  .sliderImage {
    position: absolute;
    height:400px;
    width: 100%;
  }
}
@media(min-width:768px)and (max-width:1024px){
  .sliderContentBox {
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 40%;
  }
  .sliderImageWrapper {
    width: 100%;
    height: 500px;
  }
  .sliderImage {
    position: absolute;
    height:500px;
    width: 100%;
  }
  .sliderContentBox_Description {
    font-size:1rem;
  }
}